.ItemCard{
    /* border: 1px dotted peachpuff; */
    display: grid;
    /* align-content: center; */
    width: 250px;
    margin: 10px;

}

.ItemCard__image{
    max-height: 250px;
    max-width: 250px;
}

.ItemCard__image img{
    height:255px;
    border-radius: 3px;
}

.ItemCard__info {
    display: grid;
    max-height:max-content;
    justify-content: center;
    justify-items: center;
    object-fit: cover;
}

.ItemCard__info h3{
    /* margin-top: 2px; */
    text-align: center;
}

.ItemCard__info button{
    max-width: 135px;
    border: 2px solid red;
    border-radius: 8px;
    font-weight: bolder;
    color: red;
}

.ItemCard__info p{
    text-align: center;
    overflow-wrap: break-word;
}

/* .ItemCard__info__description{
    margin-top: 0;
    margin-bottom: 0;
} */

.ItemCard__info__toppings{
    font-weight: 200;
    text-transform: capitalize;
    /* margin-top: 0;
    margin-bottom: 0; */
}
