.ItemCard{
    border: 1px dotted peachpuff;
    display: grid;
    max-width: 250px;
    margin: 10px;

}

.ItemCard__image img{
    height:250px;
    border-radius: 3px;
}

.ItemCard__info {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.ItemCard__info h3{
    margin-top: 2px;
    text-align: center;
}

.ItemCard__info button{
    max-width: 135px;
    border: 2px solid red;
    border-radius: 8px;
    font-weight: bolder;
    /* font-size: large; */
    color: red;
}

.ItemCard__info p{
    text-align: center;
    overflow-wrap: break-word;
}

.ItemCard__info__toppings{
    font-weight: 200;
    text-transform: capitalize;
}
